/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html,
body {
    width: 100%;
}

/* #endregion common */

/* #region utility */

:root {

    --db-primary-lighter: #ffffff;
    --db-primary-light: #b4d0e6;
    --db-primary-dark: #0061fe;
    --db-primary-darker: #000000;
}

.debug {

    header {
        min-height: 50px;
        background-color: blue;

        .nav-container {
            background-color: yellow;

            .left-menu {
                background-color: red;
            }

            .right-menu {
                background-color: red;
            }
        }
    }

    main {

        background-color: gray;
        min-height: 500px;

        .jumbotron {
            min-height: 50px;
            background-color: green;

            .j-container {
                min-height: 50px;
                background-color: blueviolet;
            }

        }

        .content-container {
            min-height: 450px;
            background: black;
        }
    }

    footer {
        min-height: 85px;
        background-color: brown;

        .f-container {

            min-height: 85px;
            background-color: wheat;
        }
    }

    [class^="col"] {
        background-color: aqua;
    }
}

.d-flex {
    display: flex;
}

.btn {
    text-decoration: none;
    background-color: var(--db-primary-dark);
    color: var(--db-primary-lighter);
    padding: 0.2rem 0.5rem;
}

/* #region row&col */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: auto;
    flex-basis: auto;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}

/* #endregion row&col */

/* #endregion utility */

/* #region header */

header {
    background-color: var(--db-primary-lighter);
}

.nav-container {
    justify-content: space-between;
    padding: 1rem 0.5rem;

    .left-menu,
    .right-menu {
        align-items: center;
        font-size: 10px;
        gap: 0.2rem;

        .logo img {
            width: 75px;
        }

        ul {
            li {
                list-style: none;
                padding: 0.5rem;

                a {
                    text-decoration: none;
                }
            }
        }


    }
}

/* #endregion header */

/* #region main */

.jumbotron {
    background-color: var(--db-primary-light);

    .j-container {
        width: 85%;
        margin: auto;
        padding-top: 2rem;

        h1 {
            font-size: 50px;
            font-weight: 1000;
        }

        p {
            padding-top: 2rem;
            font-size: 12px;
            padding-bottom: 2rem;
        }

        .text div {
            padding: 1rem 0;

            a {
                i {
                    font-size: 30px;
                    color: var(--db-primary-darker);
                }
            }
        }

    }

    .figure {
        img {
            width: 100%;
        }
    }

    .content {
        margin-bottom: -2rem;
    }

}

.content-container {

    width: 80%;
    margin: auto;

}

/* #endregion main */

/* #region footer */

.f-container {
    width: 85%;
    margin: auto;
}

/* #endregion footer */