/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

/* #endregion common */

/* #region utility */
:root {

    --db-primary-lighter: #ffffff;
    --db-primary-light: #b4d0e6;
    --db-primary-dark: #0061fe;
    --db-primary-darker: #000000;
}

.debug {

    header {
        min-height: 50px;
        background-color: blue;

        .nav-container {
            background-color: yellow;

            .left-menu {
                background-color: red;
            }

            .right-menu {
                background-color: red;
            }
        }
    }

    main {

        background-color: gray;
        min-height: 500px;

        .jumbotron {
            min-height: 50px;
            background-color: green;

            .j-container {
                min-height: 50px;
                background-color: blueviolet;
            }

        }

        .content-container {
            min-height: 450px;
            background: black;
        }
    }

    footer {
        min-height: 85px;
        background-color: brown;

        .f-container {

            min-height: 85px;
            background-color: wheat;
        }
    }

}

.d-flex {
    display: flex;
}

.btn {
    text-decoration: none;
    background-color: var(--db-primary-dark);
    color: var(--db-primary-lighter);
    padding: 0.2rem 0.5rem;
}

/* #endregion utility */

/* #region header */

header {
    background-color: var(--db-primary-lighter);
}

.nav-container {
    justify-content: space-between;
    padding: 1rem;

    .left-menu,
    .right-menu {
        align-items: center;
        font-size: 10px;
        gap: 0.2rem;

        .logo img {
            width: 75px;
        }

        ul {
            li {
                list-style: none;
                padding: 0.5rem;

                a {
                    text-decoration: none;
                }
            }
        }


    }
}

/* #endregion header */

/* #region main */

.jumbotron {

    .j-container {
        width: 90%;
        margin: auto;
    }

}

.content-container {

    width: 80%;
    margin: auto;

}

/* #endregion main */

/* #region footer */

.f-container {
    width: 85%;
    margin: auto;
}

/* #endregion footer */