/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

/* #endregion common */

/* #region utility */
:root {}

.debug {

    header {
        min-height: 50px;
        background-color: blue;

        .nav-container {
            background-color: yellow;

            .left-menu {
                background-color: red;
            }

            .right-menu {
                background-color: red;
            }
        }
    }

    main {

        background-color: gray;
        min-height: 500px;

        .jumbotron {
            min-height: 50px;
            background-color: green;

            .j-container {
                min-height: 50px;
                background-color: blueviolet;
            }

        }
    }

}


/* #endregion utility */

/* #region header */

.nav-container {
    display: flex;
    justify-content: space-between;
}

/* #endregion header */

/* #region main */

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;

    .j-container {
        width: 90%;
    }

}

/* #endregion main */